<div class="card text-center">
  <div class="card-font card-header">
    制作開始日 2021/10/31
  </div>
  <div class="card-body">
    <p class="card-font card-text">ご意見を頂ける方は<%= link_to "こちら", '/thanks' %></p>
    <a href="/new_login" class="card-font btn btn-primary">新規登録</a>
    <a href="/login" class="card-font btn btn-primary">ログイン</a>
  </div>
  <div class="card-font card-footer text-muted">
    制作終了日 -------/-----/-----
  </div>
</div>